@CHARSET "UTF-8";

/*
 * @package PredictWhen
 * @version $Id$
 * @author ian
 * Copyright Ian Haycox, 2012
 */

div.predictwhen {
	border:1px solid #CCC;
	padding:1em;
	margin:1em 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

p.predictwhen_powered_by {
	font-size: smaller;
	text-align: right;
	padding:0;
	margin: 0 1em;
}

p.predictwhen_invitation {
	text-align:center;
	padding:0;
	margin: 0.3em 1em;
}

div.predictwhen_not_logged_in {
	background-color: #FFEBE8;
	border:1px solid #C00;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-bottom:1em;
}

div.predictwhen_not_logged_in p {
	padding:0 0.5em;
	margin:0.5em 0;
	text-align: center;
	font-weight: bold;
}


p.predictwhen_date {
	font-size: large;
	text-align: center;
	padding:0 1em;
	margin:0;
}

p.predictwhen_wisdom, p.predictwhen_confirmation, p.predictwhen_never {
	text-align:center;
	padding:0 1em;
	margin:0;
}

p.predictwhen_confirmation {
	text-align:center;
	padding:0em 1em;
	margin:0;
}

span.predictwhen_obfuscated {
	width:8em;
	height:1.7em;
	border:1px solid #CCC;
	background-color: #CCC;
	display: inline-block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

p.predictwhen_never span.predictwhen_obfuscated {
	width:2em;
	height:1em;
	vertical-align: text-bottom;
}

div.predictwhen button {
	float:right;
}

div.predictwhen ul {
	list-style: none;
	margin:0;
}

div.predictwhen p.predictwhen_submit {
	margin:0;
	text-align: right;
}

div.predictwhen_embed_code {
	display:none;
	text-align: center;
	font-size: small;
}

div.predictwhen_embed_code pre {
	background-color: #CCC;
	overflow-x: auto;
	padding-bottom: 1em;
}

#predictwhen_message.error  {
.	text-align:center;
	font-weight:bold;
	background-color:#ffebe8;
	border-color: #c00;
}
#predictwhen_message.error p {
	padding:0.5em;
	margin:0.5em;
}

table.predictwhen_entry_form {
	width:100%;
}
table.predictwhen_entry_form td {
	border:none;
}

table.predictwhen_entry_form, table.predictwhen_entry_form td.predictwhen_column {
	border:none;
	padding:0;
	margin:0;
}

table.predictwhen_entry_form td.predictwhen_column {
	width:50%;
	text-align: center;
}

div.predictwhen div.hasDatepicker {
	width:12em;
	margin: 0 auto;
}

table.predictwhen_entry_form p.login-username,
	 table.predictwhen_entry_form p.login-password,
	 table.predictwhen_entry_form p.login-remember,
	 table.predictwhen_entry_form p.login-submit {
	 margin-bottom: 0.5em;
}

h2.predictwhen_chart_title {
	text-align: center;
	margin-bottom: 0;
}

div.predictwhen.predictwhen_user_question {
	border:none;
}

table#predictwhen_user_question {
	width:100;
	border:none;
	color: inherit;
}

table#predictwhen_user_question th {
	text-transform: none;
	line-height: 1em;
	color: inherit;
	padding:0.5em;
	vertical-align: top;
	text-align: left;
	width:33%;
}

table#predictwhen_user_question td {
	border: none;
	color: inherit;
	padding:0.5em;
	font-size: smaller;
	vertical-align: top;
}

table#predictwhen_user_question td input.predictwhen_user_datepicker {
	margin-right:1em;
}

/*!
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
div.predictwhen .ui-helper-hidden { display: none; }
div.predictwhen .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
div.predictwhen .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
div.predictwhen .ui-helper-clearfix:before, div.predictwhen .ui-helper-clearfix:after { content: ""; display: table; }
div.predictwhen .ui-helper-clearfix:after { clear: both; }
div.predictwhen .ui-helper-clearfix { zoom: 1; }
div.predictwhen .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
div.predictwhen .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
div.predictwhen .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
div.predictwhen .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*!
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana,Arial,sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
div.predictwhen .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 0.7em; }
div.predictwhen .ui-widget .ui-widget { font-size: 0.6em; }
div.predictwhen .ui-widget input, div.predictwhen .ui-widget select, div.predictwhen .ui-widget textarea, div.predictwhen .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
div.predictwhen .ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
div.predictwhen .ui-widget-content a { color: #222222; }
div.predictwhen .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
div.predictwhen .ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
div.predictwhen .ui-state-default, div.predictwhen .ui-widget-content .ui-state-default, div.predictwhen .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
div.predictwhen .ui-state-default a, div.predictwhen .ui-state-default a:link, div.predictwhen .ui-state-default a:visited { color: #555555; text-decoration: none; }
div.predictwhen .ui-state-hover, div.predictwhen .ui-widget-content .ui-state-hover, div.predictwhen .ui-widget-header .ui-state-hover, div.predictwhen .ui-state-focus, div.predictwhen .ui-widget-content .ui-state-focus, div.predictwhen .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
div.predictwhen .ui-state-hover a, div.predictwhen .ui-state-hover a:hover { color: #212121; text-decoration: none; }
/* div.predictwhen .ui-state-active, div.predictwhen .ui-widget-content .ui-state-active, div.predictwhen .ui-widget-header .ui-state-active { border: 1px solid #fcefa1; background: #fcefa1; font-weight: normal; color: #212121; } */
div.predictwhen .ui-state-active, div.predictwhen .ui-widget-content .ui-state-active, div.predictwhen .ui-widget-header .ui-state-active { border: 1px solid #fcefa1; background: #fcefa1; font-weight: normal; color: #212121; }
div.predictwhen .ui-state-active a, div.predictwhen .ui-state-active a:link, div.predictwhen .ui-state-active a:visited { color: #212121; text-decoration: none; }
div.predictwhen .ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
/*div.predictwhen .ui-state-highlight, div.predictwhen .ui-widget-content .ui-state-highlight, div.predictwhen .ui-widget-header .ui-state-highlight  {border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; color: #363636; }
div.predictwhen .ui-state-highlight a, div.predictwhen .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
*/div.predictwhen .ui-state-error, div.predictwhen .ui-widget-content .ui-state-error, div.predictwhen .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
div.predictwhen .ui-state-error a, div.predictwhen .ui-widget-content .ui-state-error a, div.predictwhen .ui-widget-header .ui-state-error a { color: #cd0a0a; }
div.predictwhen .ui-state-error-text, div.predictwhen .ui-widget-content .ui-state-error-text, div.predictwhen .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
div.predictwhen .ui-priority-primary, div.predictwhen .ui-widget-content .ui-priority-primary, div.predictwhen .ui-widget-header .ui-priority-primary { font-weight: bold; }
div.predictwhen .ui-priority-secondary, div.predictwhen .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
div.predictwhen .ui-state-disabled, div.predictwhen .ui-widget-content .ui-state-disabled, div.predictwhen .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
div.predictwhen .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
div.predictwhen .ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
div.predictwhen .ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
div.predictwhen .ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png); }
div.predictwhen .ui-state-hover .ui-icon, div.predictwhen .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
div.predictwhen .ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
div.predictwhen .ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
div.predictwhen .ui-state-error .ui-icon, div.predictwhen .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
div.predictwhen .ui-icon-carat-1-n { background-position: 0 0; }
div.predictwhen .ui-icon-carat-1-ne { background-position: -16px 0; }
div.predictwhen .ui-icon-carat-1-e { background-position: -32px 0; }
div.predictwhen .ui-icon-carat-1-se { background-position: -48px 0; }
div.predictwhen .ui-icon-carat-1-s { background-position: -64px 0; }
div.predictwhen .ui-icon-carat-1-sw { background-position: -80px 0; }
div.predictwhen .ui-icon-carat-1-w { background-position: -96px 0; }
div.predictwhen .ui-icon-carat-1-nw { background-position: -112px 0; }
div.predictwhen .ui-icon-carat-2-n-s { background-position: -128px 0; }
div.predictwhen .ui-icon-carat-2-e-w { background-position: -144px 0; }
div.predictwhen .ui-icon-triangle-1-n { background-position: 0 -16px; }
div.predictwhen .ui-icon-triangle-1-ne { background-position: -16px -16px; }
div.predictwhen .ui-icon-triangle-1-e { background-position: -32px -16px; }
div.predictwhen .ui-icon-triangle-1-se { background-position: -48px -16px; }
div.predictwhen .ui-icon-triangle-1-s { background-position: -64px -16px; }
div.predictwhen .ui-icon-triangle-1-sw { background-position: -80px -16px; }
div.predictwhen .ui-icon-triangle-1-w { background-position: -96px -16px; }
div.predictwhen .ui-icon-triangle-1-nw { background-position: -112px -16px; }
div.predictwhen .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
div.predictwhen .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
div.predictwhen .ui-icon-arrow-1-n { background-position: 0 -32px; }
div.predictwhen .ui-icon-arrow-1-ne { background-position: -16px -32px; }
div.predictwhen .ui-icon-arrow-1-e { background-position: -32px -32px; }
div.predictwhen .ui-icon-arrow-1-se { background-position: -48px -32px; }
div.predictwhen .ui-icon-arrow-1-s { background-position: -64px -32px; }
div.predictwhen .ui-icon-arrow-1-sw { background-position: -80px -32px; }
div.predictwhen .ui-icon-arrow-1-w { background-position: -96px -32px; }
div.predictwhen .ui-icon-arrow-1-nw { background-position: -112px -32px; }
div.predictwhen .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
div.predictwhen .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
div.predictwhen .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
div.predictwhen .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
div.predictwhen .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
div.predictwhen .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
div.predictwhen .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
div.predictwhen .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
div.predictwhen .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
div.predictwhen .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
div.predictwhen .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
div.predictwhen .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
div.predictwhen .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
div.predictwhen .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
div.predictwhen .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
div.predictwhen .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
div.predictwhen .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
div.predictwhen .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
div.predictwhen .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
div.predictwhen .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
div.predictwhen .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
div.predictwhen .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
div.predictwhen .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
div.predictwhen .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
div.predictwhen .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
div.predictwhen .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
div.predictwhen .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
div.predictwhen .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
div.predictwhen .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
div.predictwhen .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
div.predictwhen .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
div.predictwhen .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
div.predictwhen .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
div.predictwhen .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
div.predictwhen .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
div.predictwhen .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
div.predictwhen .ui-icon-arrow-4 { background-position: 0 -80px; }
div.predictwhen .ui-icon-arrow-4-diag { background-position: -16px -80px; }
div.predictwhen .ui-icon-extlink { background-position: -32px -80px; }
div.predictwhen .ui-icon-newwin { background-position: -48px -80px; }
div.predictwhen .ui-icon-refresh { background-position: -64px -80px; }
div.predictwhen .ui-icon-shuffle { background-position: -80px -80px; }
div.predictwhen .ui-icon-transfer-e-w { background-position: -96px -80px; }
div.predictwhen .ui-icon-transferthick-e-w { background-position: -112px -80px; }
div.predictwhen .ui-icon-folder-collapsed { background-position: 0 -96px; }
div.predictwhen .ui-icon-folder-open { background-position: -16px -96px; }
div.predictwhen .ui-icon-document { background-position: -32px -96px; }
div.predictwhen .ui-icon-document-b { background-position: -48px -96px; }
div.predictwhen .ui-icon-note { background-position: -64px -96px; }
div.predictwhen .ui-icon-mail-closed { background-position: -80px -96px; }
div.predictwhen .ui-icon-mail-open { background-position: -96px -96px; }
div.predictwhen .ui-icon-suitcase { background-position: -112px -96px; }
div.predictwhen .ui-icon-comment { background-position: -128px -96px; }
div.predictwhen .ui-icon-person { background-position: -144px -96px; }
div.predictwhen .ui-icon-print { background-position: -160px -96px; }
div.predictwhen .ui-icon-trash { background-position: -176px -96px; }
div.predictwhen .ui-icon-locked { background-position: -192px -96px; }
div.predictwhen .ui-icon-unlocked { background-position: -208px -96px; }
div.predictwhen .ui-icon-bookmark { background-position: -224px -96px; }
div.predictwhen .ui-icon-tag { background-position: -240px -96px; }
div.predictwhen .ui-icon-home { background-position: 0 -112px; }
div.predictwhen .ui-icon-flag { background-position: -16px -112px; }
div.predictwhen .ui-icon-calendar { background-position: -32px -112px; }
div.predictwhen .ui-icon-cart { background-position: -48px -112px; }
div.predictwhen .ui-icon-pencil { background-position: -64px -112px; }
div.predictwhen .ui-icon-clock { background-position: -80px -112px; }
div.predictwhen .ui-icon-disk { background-position: -96px -112px; }
div.predictwhen .ui-icon-calculator { background-position: -112px -112px; }
div.predictwhen .ui-icon-zoomin { background-position: -128px -112px; }
div.predictwhen .ui-icon-zoomout { background-position: -144px -112px; }
div.predictwhen .ui-icon-search { background-position: -160px -112px; }
div.predictwhen .ui-icon-wrench { background-position: -176px -112px; }
div.predictwhen .ui-icon-gear { background-position: -192px -112px; }
div.predictwhen .ui-icon-heart { background-position: -208px -112px; }
div.predictwhen .ui-icon-star { background-position: -224px -112px; }
div.predictwhen .ui-icon-link { background-position: -240px -112px; }
div.predictwhen .ui-icon-cancel { background-position: 0 -128px; }
div.predictwhen .ui-icon-plus { background-position: -16px -128px; }
div.predictwhen .ui-icon-plusthick { background-position: -32px -128px; }
div.predictwhen .ui-icon-minus { background-position: -48px -128px; }
div.predictwhen .ui-icon-minusthick { background-position: -64px -128px; }
div.predictwhen .ui-icon-close { background-position: -80px -128px; }
div.predictwhen .ui-icon-closethick { background-position: -96px -128px; }
div.predictwhen .ui-icon-key { background-position: -112px -128px; }
div.predictwhen .ui-icon-lightbulb { background-position: -128px -128px; }
div.predictwhen .ui-icon-scissors { background-position: -144px -128px; }
div.predictwhen .ui-icon-clipboard { background-position: -160px -128px; }
div.predictwhen .ui-icon-copy { background-position: -176px -128px; }
div.predictwhen .ui-icon-contact { background-position: -192px -128px; }
div.predictwhen .ui-icon-image { background-position: -208px -128px; }
div.predictwhen .ui-icon-video { background-position: -224px -128px; }
div.predictwhen .ui-icon-script { background-position: -240px -128px; }
div.predictwhen .ui-icon-alert { background-position: 0 -144px; }
div.predictwhen .ui-icon-info { background-position: -16px -144px; }
div.predictwhen .ui-icon-notice { background-position: -32px -144px; }
div.predictwhen .ui-icon-help { background-position: -48px -144px; }
div.predictwhen .ui-icon-check { background-position: -64px -144px; }
div.predictwhen .ui-icon-bullet { background-position: -80px -144px; }
div.predictwhen .ui-icon-radio-off { background-position: -96px -144px; }
div.predictwhen .ui-icon-radio-on { background-position: -112px -144px; }
div.predictwhen .ui-icon-pin-w { background-position: -128px -144px; }
div.predictwhen .ui-icon-pin-s { background-position: -144px -144px; }
div.predictwhen .ui-icon-play { background-position: 0 -160px; }
div.predictwhen .ui-icon-pause { background-position: -16px -160px; }
div.predictwhen .ui-icon-seek-next { background-position: -32px -160px; }
div.predictwhen .ui-icon-seek-prev { background-position: -48px -160px; }
div.predictwhen .ui-icon-seek-end { background-position: -64px -160px; }
div.predictwhen .ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
div.predictwhen .ui-icon-seek-first { background-position: -80px -160px; }
div.predictwhen .ui-icon-stop { background-position: -96px -160px; }
div.predictwhen .ui-icon-eject { background-position: -112px -160px; }
div.predictwhen .ui-icon-volume-off { background-position: -128px -160px; }
div.predictwhen .ui-icon-volume-on { background-position: -144px -160px; }
div.predictwhen .ui-icon-power { background-position: 0 -176px; }
div.predictwhen .ui-icon-signal-diag { background-position: -16px -176px; }
div.predictwhen .ui-icon-signal { background-position: -32px -176px; }
div.predictwhen .ui-icon-battery-0 { background-position: -48px -176px; }
div.predictwhen .ui-icon-battery-1 { background-position: -64px -176px; }
div.predictwhen .ui-icon-battery-2 { background-position: -80px -176px; }
div.predictwhen .ui-icon-battery-3 { background-position: -96px -176px; }
div.predictwhen .ui-icon-circle-plus { background-position: 0 -192px; }
div.predictwhen .ui-icon-circle-minus { background-position: -16px -192px; }
div.predictwhen .ui-icon-circle-close { background-position: -32px -192px; }
div.predictwhen .ui-icon-circle-triangle-e { background-position: -48px -192px; }
div.predictwhen .ui-icon-circle-triangle-s { background-position: -64px -192px; }
div.predictwhen .ui-icon-circle-triangle-w { background-position: -80px -192px; }
div.predictwhen .ui-icon-circle-triangle-n { background-position: -96px -192px; }
div.predictwhen .ui-icon-circle-arrow-e { background-position: -112px -192px; }
div.predictwhen .ui-icon-circle-arrow-s { background-position: -128px -192px; }
div.predictwhen .ui-icon-circle-arrow-w { background-position: -144px -192px; }
div.predictwhen .ui-icon-circle-arrow-n { background-position: -160px -192px; }
div.predictwhen .ui-icon-circle-zoomin { background-position: -176px -192px; }
div.predictwhen .ui-icon-circle-zoomout { background-position: -192px -192px; }
div.predictwhen .ui-icon-circle-check { background-position: -208px -192px; }
div.predictwhen .ui-icon-circlesmall-plus { background-position: 0 -208px; }
div.predictwhen .ui-icon-circlesmall-minus { background-position: -16px -208px; }
div.predictwhen .ui-icon-circlesmall-close { background-position: -32px -208px; }
div.predictwhen .ui-icon-squaresmall-plus { background-position: -48px -208px; }
div.predictwhen .ui-icon-squaresmall-minus { background-position: -64px -208px; }
div.predictwhen .ui-icon-squaresmall-close { background-position: -80px -208px; }
div.predictwhen .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
div.predictwhen .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
div.predictwhen .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
div.predictwhen .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
div.predictwhen .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
div.predictwhen .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
div.predictwhen .ui-corner-all, div.predictwhen .ui-corner-top, div.predictwhen .ui-corner-left, div.predictwhen .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
div.predictwhen .ui-corner-all, div.predictwhen .ui-corner-top, div.predictwhen .ui-corner-right, div.predictwhen .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
div.predictwhen .ui-corner-all, div.predictwhen .ui-corner-bottom, div.predictwhen .ui-corner-left, div.predictwhen .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
div.predictwhen .ui-corner-all, div.predictwhen .ui-corner-bottom, div.predictwhen .ui-corner-right, div.predictwhen .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
div.predictwhen .ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
div.predictwhen .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*!
 * jQuery UI Datepicker 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
div.predictwhen .ui-datepicker { width: 18em; padding: .2em .2em 0; display: none; }
div.predictwhen .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
div.predictwhen .ui-datepicker .ui-datepicker-prev, div.predictwhen .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
div.predictwhen .ui-datepicker .ui-datepicker-prev-hover, div.predictwhen .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
div.predictwhen .ui-datepicker .ui-datepicker-prev { left:2px; }
div.predictwhen .ui-datepicker .ui-datepicker-next { right:2px; }
div.predictwhen .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
div.predictwhen .ui-datepicker .ui-datepicker-next-hover { right:1px; }
div.predictwhen .ui-datepicker .ui-datepicker-prev span, div.predictwhen .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
div.predictwhen .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
div.predictwhen .ui-datepicker .ui-datepicker-title select { font-size:0.9em; margin:1px 0; }
div.predictwhen .ui-datepicker select.ui-datepicker-month-year {width: 100%;}
div.predictwhen .ui-datepicker select.ui-datepicker-month, 
div.predictwhen .ui-datepicker select.ui-datepicker-year { width: 49%;}
div.predictwhen .ui-datepicker table {width: 100%; font-size: .8em; border-collapse: collapse; margin:0 0 .4em; }
div.predictwhen .ui-datepicker th { padding: .7em .3em!important; text-align: center; font-weight: bold; border: 0;  }
div.predictwhen .ui-datepicker td { border: 0; padding: 1px!important; }
div.predictwhen .ui-datepicker td span, div.predictwhen .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
div.predictwhen .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
div.predictwhen .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
div.predictwhen .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
div.predictwhen .ui-datepicker.ui-datepicker-multi { width:auto; }
div.predictwhen .ui-datepicker-multi .ui-datepicker-group { float:left; }
div.predictwhen .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
div.predictwhen .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
div.predictwhen .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
div.predictwhen .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
div.predictwhen .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
div.predictwhen .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
div.predictwhen .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
div.predictwhen .ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* Don't highlight today */
div.predictwhen .ui-datepicker-today .ui-state-active {
  border: 1px solid lightGrey;
}

/* RTL support */
div.predictwhen .ui-datepicker-rtl { direction: rtl; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-group { float:right; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
div.predictwhen .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
div.predictwhen .ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}